html,body{
	margin: 0 auto;
	padding: 0;
	width:100%;
	font-family: Calibri;
	background-color: black;
	color: white;
	
}


h1 {
	font-family: Benguiat;
	
}

.row{
	background-color: black;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    opacity: 1;
}

.container{
 margin: 30px 30px 30px 30px;
}


.col-sm-3{
	text-align: center;
}

.col-sm-4{
	text-align: center;
}


.btn{
	width: 200px;
}

.list-unstyled li{
	font-size: 14pt;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 100px;
}
